
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Hi {{username}}!<span class="wave">👋</span></a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex margin-left-auto" role="search">
          <!-- <input class="form-control me-2 display-none" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-success me-2 button" type="submit" (click)="learningPath()">Generate Learning Path</button>
          <button class="btn btn-outline-success me-2 button" type="submit" (click)="generatePDF()">Generate PDF</button>
          <button class="btn btn-outline-success me-2 button" type="submit" (click)="onProfile()">Go to Profile</button>
          <button class="btn btn-outline-success me-2 button" type="submit" (click)="onLogout()">logout</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- For Q and A -->
  <div class="chat-container">
    <div class="chat-header">
      <button class="avatar-1"></button>
      <h2><img src="assets/chatbot.png" alt="Chatbot Avatar" class="avatar">Chatbot</h2>
      <button type="button" class="btn btn-dark" (click)="onClear()">Clear</button>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of messages" class="chat-message" [ngClass]="{'user': message.isUser, 'bot': !message.isUser}">
        {{ message.text }}
      </div>
    </div>
    <div class="spinner-border" role="status" *ngIf="isLoader">
      <span class="sr-only"></span>
    </div>
    <div>
    <input
      type="text"
      [(ngModel)]="message.query"
      placeholder="Type a message..."
    />
    <button class="button" (click)="sendMessage()">Send</button>
    </div>
  </div>

  
  